body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
    background: #53565A;
  }
  
  textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
    width: 400px;
  }
  
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: #981E32;
    border-radius: 0;
    border-bottom: 10px solid black;
  }
  
  .description{
    white-space: pre-wrap;
  }
  
  .time-block{
    text-align: center;
    border-radius: 15px;
    border: 2px solid black;
  }
  
  .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;;
  }
  
  .hour {
    background-color:#981E32;
    color: #000000;
    border-top: 1px dashed #000000;
  }
  
  .past {
    background-color: limegreen;
    color: white;
  }
  
  .present {
    background-color: #ff6961;
    color: white;
  }
  
  .future {
    background-color: hotpink;
    color: white;
  }
  
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #981E32;
    color: white;
    width: 75px;
    height: 89%;
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
  }
  .myplanner {
    margin: 0 auto;
    /* border-collapse: collapse; */
    /* border:1px solid #000; */
  }

  .time {
      min-width: 75px;
      color: white;
  }